@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,300;12..96,400;12..96,500;12..96,600;12..96,700;12..96,800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
* {
    font-family: 'Bricolage Grotesque', sans-serif;
    -webkit-tap-highlight-color: transparent;
    outline: none;
    list-style: none;
}

html {
    scroll-behavior: smooth;
  }

.horizontal-scroll::-webkit-scrollbar {
    width: 0;
    height: 0;
    background: transparent;
    display: none;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

@layer components {
    .container {
        @apply flex w-[95%] max-w-[1300px] mx-auto  px-[5%] lg:px-[1%] flex-col items-stretch self-stretch flex-1;
    }
  
    .nav-links {
        @apply px-4 py-1 text-xs sm:text-sm md:text-base font-normal cursor-pointer [border-bottom:4px_solid_transparent] transition-all duration-300 ease-out
    }
    
    .active-navLink {
        @apply border-b-jr_deepBlue bg-[#a0a6862b] rounded-t-lg text-jr_blue transition-all duration-500 ease-out
      }


    .primary-btn {
        @apply w-auto border cursor-pointer flex justify-center items-center text-sm  font-bold sm:text-base border-jr_blue text-white bg-jr_blue rounded p-3 transition-all duration-200;
      }
    
      .secondary-btn {
        @apply w-auto border cursor-pointer flex justify-center items-center text-sm  font-bold sm:text-base border-jr_slateGray text-jr_blue bg-white rounded p-3 transition-all duration-200;
      }
    
      .tertiary-btn {
        @apply w-auto border cursor-pointer flex justify-center items-center text-sm  font-bold sm:text-base border-jr_blue text-jr_blue bg-white rounded p-3 transition-all duration-200;
      }
    

    .hero-btn {
        @apply w-auto border cursor-pointer flex justify-center items-center text-sm  font-bold sm:text-base bg-white border-white text-jr_blue rounded p-3  transition-all duration-200
    }
   
    .dropdown-content-list {
        @apply text-sm font-semibold h-full text-white cursor-pointer capitalize flex flex-row items-center px-4 py-2 rounded-xl  bg-jr_blue 
    }
  
}

/* navbar  */

.nav-links:not(.active-navLink):hover {
    color: #00a09a;
}

.mobile {
    gap: 1.25rem;
    justify-content: center;
    align-items: center;
    display: flex;
}

.sidebar-links-wrapper {
    font-weight: 600;
    font-size: 0.875rem;
    line-height: 1.25rem;
    flex-direction: column;
    gap: 1.25rem;
    width: fit-content;
    display: flex;
    margin-top: 3rem;
}

.active-nav {
    opacity: 1;
    display: block;
    transform: translateY(20px);
}

.show-sidebar {
    display: block;
}


 /* review */
 .owl-carousel .owl-item img {
    display: block;
    width: auto;
}

.travel-deals .owl-item img, .popular-hotels .owl-item img {
    width: 100%;
}


.ribbonsxp-carousel .owl-prev {
    left: -1rem;
}


.ribbonsxp-carousel .owl-next {
    right: -1rem;
}

.ribbonsxp-carousel .owl-nav [class*=owl-] {
    border: 1px solid #f1f3f5 !important;
    box-shadow: 0 0.25em 0.5em #0000001a;
    font-size: 16px !important;
    color: #708090 !important;
    transition: all .2s ease-in;
    background: #fff !important;
    border-radius: 100%;
    z-index: 4;
    position: absolute;
    width: 40px;
    height: 40px;
    top: 45%;
}

.ribbonsxp-carousel .owl-stage {
    position: relative;
    -ms-touch-action: pan-Y;
    touch-action: manipulation;
    -moz-backface-visibility: hidden;
    display: flex;
}

.ribbonsxp-carousel .owl-item {
   display: flex;
}

 .owl-carousel.owl-loaded.how-it-works {
    display: block !important;
}

@media (min-width: 768px) {
    .ribbonsxp-carousel .owl-prev {
        left: -2.5rem;
        right: auto;
    }
    
    
    .ribbonsxp-carousel .owl-next {
        right: -2.5rem;
        left: auto;
    }

    .ribbonsxp-carousel .owl-nav [class*=owl-] {
        border: 1px solid #f1f3f5 !important;
        box-shadow: 0 0.25em 0.5em #0000001a;
        font-size: inherit !important;
        color: #708090 !important;
        transition: all .2s ease-in;
        background: #fff !important;
        border-radius: 100%;
        z-index: 4;
        position: absolute;
        width: 50px;
        height: 50px;
        top: 45%;
    }

    .owl-carousel.owl-loaded.how-it-works {
        display: none !important;
    }
}

.ribbonsxp-carousel .owl-next:focus,
.ribbonsxp-carousel .owl-next:hover,
.ribbonsxp-carousel .owl-prev:focus,
.ribbonsxp-carousel .owl-prev:hover {
    border: 1px solid #f9508c !important;
    box-shadow: 0 0.25em 0.5em #0000001a;
    color: #f9508c !important;
    transition: all .2s ease-in;
    background: #fff !important;
}


.ribbonsxp-carousel .owl-next:active,
.ribbonsxp-carousel .owl-prev:active {
    background-color: #f9508c !important;
    color: #fff !important;
    border: 1px solid #f9508c !important;
}

.ribbonsxp-carousel .owl-dots .owl-dot span {
    background: #ffb6c1;
}

.ribbonsxp-carousel .owl-dots .owl-dot.active span,
.ribbonsxp-carousel .owl-dots .owl-dot:hover span {
    background: #f9508c;
}

.ribbonsxp-carousel .owl-nav {
    margin-top: 0px;
}

.featured .owl-stage{
    display: flex;
    align-items: center;

}

.owl-theme .owl-nav .disabled {
    opacity: 0 !important;
}

.owl-theme .owl-nav.disabled+.owl-dots {
    position: absolute;
    bottom: -40%;
    left: 0;
    right: 0;
    transform: translateY(40%);
}


@media (min-width: 768px) {
   
    .owl-theme .owl-nav.disabled+.owl-dots {
        position: absolute;
        bottom: -80%;
        left: 0;
        right: 0;
        transform: translateY(80%);
    }
}

 
/* deals */
.deals-content{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 3;

}


